.calendar{
    display:grid;
    grid-template-columns:80px repeat(7, 1fr);

    grid-template-rows:48px;

    margin:20px;
}

.corner{

    border-right:1px solid #2d3748;
    border-bottom:1px solid #2d3748;
}

.day-header{

    height:48px;
    display:flex;
    justify-content:center;
    align-items:center;

    font-size:18px;
    font-weight:700;

    border-bottom:1px solid #2d3748;

    border-right:1px solid #2d3748;

    background:#161b22;
}

.time-slot{

    height:90px;

    display:flex;

    justify-content:flex-end;

    align-items:flex-start;

    padding-right:12px;
    padding-top:6px;

    color:#9ca3af;

    border-bottom:1px dashed #30363d;

    background-image:
    repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 89px,
        #30363d 90px
    );

}

.grid-cell{
    position:relative;

    border-right:1px solid #2d3748;
    border-bottom:1px dashed #2d3748;

    padding:4px;
}


.empty-day{

    color:#6b7280;

    font-style:italic;
}

.day-column{

    position:relative;

    height:990px;

    border-right:1px solid #30363d;

    background-image:
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 89px,
            #30363d 90px
        );
}

.event-wrapper{

    position:absolute;

    left:5px;
    right:5px;

    padding:3px;
}